.App {
  text-align: center;
  height: 100vh;
}

.App .app_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}

.App .content{
  position: relative;
}

.App .content .list_wrap{
  position: absolute;
  top: 82px;
  left: 22px;
  width: 296px;
  height: 523px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.App .content .media_list{
  width: 296px;
  height: 1046px;
  color:#fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App .content .media_list video{
  min-height: 523px;
}

.slide_time{
    transform: translateY(-523px); 
    transition: 5s;
}